:root {
    --background-color-: rgba(194, 196, 199, 0.5);
}
body, html {
    height: 100%;
}
body {
    background-image: url('../images/background.jpeg');
    background-size: 100% 100%;
    color:rgba(3, 10, 19, 0.7);
}

.jumbotron {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
    color: rgba(27, 28, 29, 0.9);
    text-align: center;
    background-color: initial;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.search-container {
    background-color: var(--background-color-);
    padding-left: 0px;
    padding-right: 0px;
    height: 470px;
    overflow: scroll;
}
.search-history-box {
    padding-top: 5px;
    padding-bottom: 5px;
}
#search-input {
    background-color: rgba(243, 245, 247, 0.9);
}
#search-button {
    background-color: rgba(3, 10, 19, 0.7);
}
.search-history-text {
    flex: 1;
}
.delete-button {
    background-color: rgba(243, 245, 247, 0.9);
    flex: 0 0 25px;
    height: 25px;
    padding: 0;
}
.weather-info-container {
    padding-left: 10px;
    padding-right: 10px;
}
.weather-current {
    padding: 10px;
    background-color: var(--background-color-);
}
h3 {
    margin: 15px 0px 5px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.uvindex-num {
    display: inline-block;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.weather-forecast-group {
    display: flex;
}

.weather-forecast-box {
    width: 20%;
    padding: 1px;
}

.weather-forecast-card {
    background-color: var(--background-color-);
    padding: 10px;
}
.weather-forecast-card div, .weather-current div, .search-history {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-history:hover {
    background-color: rgba(90, 131, 192, 0.7);
}

.search-history-text {
    padding-left: 10px;
}